<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/login">
        Username : <input type="text" name="username" id="">
        <br>
        {% if err_name %}
            <span class="error">{{err_name}}</span>
        {% endif %}
        <br>
        Password : <input type="password" name="password" id="">
        <br>
        {% if err_pass %}
            <span class="error">{{err_pass}}</span>
        {% endif %}
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>