{% extends 'base.html' %}

{% block pagetitle %}
    inherited from base.html
{% endblock %}

{% block pagebody %}
{{created}}
<form action="/login" method="post">
    Email : <input type="text" name="email" id="" placeholder="Email" required>
    <span>{{email}}</span>
    <br>
    Password : <input type="password" name="password" id="" placeholder="Password" required >
    <span>{{password}}</span>
    <br>
    <input type="submit" value="Login">
    <br>
    No account ? <a href="/register">Register</a>
</form>
{% endblock %}