<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        Username <input type="text" name="username" id="" placeholder="Username">
        <br>
        Email : <input type="email" name="email" id="" placeholder="Email " required>
        <br>
        <span style="color : red">{{email_error}}</span>
        <br>
        password : <input type="password" name="password" id="" placeholder="Password" required>
        <br>
        Birth : <input type="date" name="birth" id="" required>
        <br>
        Tell us about yourself <textarea name="bio" id="" cols="30" rows="10" class="bio">Hi i'm new student</textarea>
        <br>
        <br>
        <input type="submit" value="Create Account">
        <br>
        Already have account ? <a href="/login">Login</a>
    </form>
</body>
</html>