<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="post">
        Username <input type="text" name="username" id="" placeholder="Username">
        <br>
        Email : <input type="email" name="email" id="" placeholder="Email ">
        <span>{{email_error}}</span>
        <br>
        password : <input type="password" name="password" id="" placeholder="Password">
        <br>
        <input type="submit" value="Create Account">
        <br>
        Already have account ? <a href="/login">Login</a>
    </form>
</body>
</html>